#{{ tweet.text|scrub|truncate(80, False) }}
Tweeted by: {{ tweet.user.screen_name }}
Tweeted at: {{ tweet.created_at }}
Tweet ID: {{ tweet.id }}
Tweet Entities:
{{ tweet.entities|pprint }}

{{ tweet.text }}

